body {
  background-color: #282828;
  color: #ffffff;
}

.first-section {
  background-color: #282828;
}

.first-section-content {
  background-image: url("./others/background.png");
  background-position: 40% top;
  padding: 56px 0 0 0;
  height: 1000px;
  position: relative;
}

.main-column {
  align-content: flex-end;
}

@media (max-width: 768px) {
  .mobile-container {
    padding: 0px;
    margin: 0px;
    max-width: 100%;
  }
}

.nav-button {
  color: #ffffff !important;
  font-size: 20px;
  margin: 0 30px;
}

.nav-bar {
  background-color: rgba(46, 46, 46, 0.5) !important;
}

.mm-box {
  position: absolute;
  right: 0;
  top: 164px;
  width: 551px;
  height: 331px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px 0 0 20px;
}

.mm {
  margin: 10px 92px 0 20px;
  font-size: 75px;
  text-align: end;
  border-bottom: 5px solid rgba(255, 255, 255, 1);
}

.description {
  margin: 10px 92px 10px 20px;
  text-align: end;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 24px;
  left: 15px;
  margin: 10px 0;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  max-width: 70%;
  width: 70%;
  left: 0px;
  top: 0px;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
