.error-warning {
  float: left;
  width: 100%;
}

.error-warning::after {
  content: "";
  clear: both;
  display: table;
}

.error-warning-description {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  margin: 0;
  color: #FFFFFF;
  position: absolute;
  bottom: -17px;
  right: 3px;
}

.error-warning-icon {
  float: left;
  font-size: 20px;
  padding: 0;
  margin: 10px;
  color: rgb(81, 166, 135);
  position: absolute;
  right: 0;
  top: 0px;
}
